.Catalog {
  position: relative;
}

.catalog {
  position: absolute;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 160px 60px 132px;
  width: 100%;
  height: 100vh;
}

.Catalog h1 {
  position: absolute;
  top: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  text-align: center;
  font-size: 25vh;
  line-height: 100vh;
}

.Catalog .catalog__row {
  display: flex;
  height: 31vh;
}

.Catalog .catalog__row:not(.catalog__row--card) {
  flex-direction: column;
}

.Catalog .catalog__row--bottom {
  justify-content: flex-end;
}

.Catalog .catalog__row--card .catalog__item {
  position: relative;
  padding-right: 40px;
  padding-bottom: 20px;
  padding-left: 60px;
}

.Catalog .catalog__row--card .catalog__item:last-child {
  margin-left: 40px;
}

.Catalog .catalog__row--card .catalog__item img {
  max-height: 100%;
}

.Catalog .catalog__row--card .item-number {
  position: absolute;
  top: 0;
  left: 14px;
  writing-mode: vertical-rl;
  text-align: right;
  transform: rotate(-180deg);
  transform-origin: center;
}

.Catalog .catalog__row--card .item-title {
  position: absolute;
  bottom: 32px;
  left: 20px;
}

.Catalog .catalog__row--card .link {
  position: absolute;
  bottom: 0;
  left: 20px;
}

.Catalog .catalog__row--right {
  justify-content: flex-end;
}

.Catalog .catalog__row:not(.catalog__row--card) .item-image {
  display: none;
}

.Catalog .catalog__row:not(.catalog__row--card) .catalog__item {
  display: flex;
  align-items: center;
  padding-left: 60px;
  max-width: 450px;
  width: 100%;
}

.Catalog .catalog__row:not(.catalog__row--card) .item-number,
.Catalog .catalog__row:not(.catalog__row--card) .item-title {
  line-height: 32px;
}

.catalog__item .link {
  display: block;
  margin-left: auto;
}

.catalog__item .item-number {
  width: 128px;
  color: rgba(0, 0, 0, 0.4);
}

.catalog__item .item-title {
  white-space: nowrap;
  font-weight: 600;
}

@media (max-height: 1199px) and (orientation: landscape) {
  .catalog {
    padding: 36px 38px 36px;
  }
  .Catalog .catalog__row {
    height: 40vh;
  }
  .Catalog .catalog__row--card .catalog__item {
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
  }
  .Catalog .catalog__row--card .catalog__item:last-child {
    margin-left: 20px;
  }
  .Catalog .catalog__row:not(.catalog__row--card) .catalog__item {
    padding-left: 40px;
  }
  .Catalog .catalog__row:not(.catalog__row--card) .item-number,
  .Catalog .catalog__row:not(.catalog__row--card) .item-title {
    line-height: 26px;
  }
  .catalog__item .item-number {
    width: 100px;
  }
}

@media (orientation: portrait) {
  .catalog {
    flex-wrap: wrap;
    padding: 68px 40px 40px;
    height: auto;
  }
  .Catalog .catalog__col {
    width: 100%;
  }
  .Catalog h1 {
    font-size: 22vw;
  }
  .Catalog .catalog__row {
    flex-wrap: wrap;
    height: auto;
  }
  .Catalog .catalog__row--right {
    justify-content: flex-start;
  }
  .Catalog .catalog__row--card .item-image {
    max-height: 36vh;
  }
  .Catalog .catalog__row--card .catalog__item:last-child {
    margin-left: 0;
  }

  .Catalog .catalog__row:not(.catalog__row--card) .catalog__item {
    padding-left: 0;
    width: 100%;
  }
  .catalog__item .item-number {
    width: 96px;
  }
}
