.slider-controls {
  position: fixed;
  top: 50%;
  right: 60px;
  z-index: 20;
  transform: translateY(-50%);
}

.slider-control {
  padding: 16px 0;
  text-align: right;
  letter-spacing: -0.35px;
  line-height: 1;
  cursor: pointer;
  transition: 150ms ease;
}

.slider-control.current {
  font-size: 48px;
  pointer-events: none;
}

.slider-control:hover {
  opacity: 0.8;
}

.slider-control:not(:last-child):after {
  display: block;
  margin-top: 0;
  margin-right: 6px;
  margin-left: auto;
  width: 1px;
  height: 0;
  background-color: #000;
  content: "";
  transition: 350ms ease;
}

.slider-control:not(:first-child):before {
  display: block;
  margin-right: 6px;
  margin-bottom: 0;
  margin-left: auto;
  width: 1px;
  height: 0;
  background-color: #000;
  content: "";
}

.slider-control:not(:last-child).current:after {
  margin-top: 16px;
  height: 130px;
}

.slider-control:not(:first-child).current:before {
  margin-bottom: 16px;
  height: 130px;
}

@media (max-height: 1199px) and (orientation: landscape) {
  .slider-controls {
    right: 16px;
  }
  .slider-control {
    padding: 8px 0;
  }
  .slider-control.current {
    font-size: 36px;
  }
  .slider-control:not(:last-child).current:after {
    margin-top: 8px;
    height: 52px;
  }
  .slider-control:not(:first-child).current:before {
    margin-bottom: 8px;
    height: 52px;
  }
}

@media (orientation: portrait) {
  .slider-controls {
    right: 10px;
  }
}
