header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  padding: 40px 60px 0;
}

header .logo {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  margin-bottom: -30px;
  font-weight: 600;
  font-size: 28px;
  letter-spacing: -0.5px;
  text-align: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-navigation__item {
  width: 15%;
  flex-basis: 15%;
  display: inline-flex;
  align-items: center;
}

.header-navigation__item::before {
  content: "";
  display: block;
  width: 100%;
  margin-top: 12px;
  margin-bottom: 11px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.4);
}

.header-navigation__item:last-child {
  flex-direction: row-reverse;
}

.header-navigation a {
  padding: 0 6px;
}

.header-navigation a.disabled {
  display: none;
}

@media (orientation: portrait) {
  header {
    padding: 20px 16px 0;
  }
  header .logo {
    font-size: 20px;
  }
}
