.s-networks {
  position: fixed;
  transform: rotate(-90deg);
  transform-origin: left top;
  bottom: 20%;
  width: 315px;
  left: 46px;
  display: flex;
  align-items: center;
  z-index: 2;
}

.s-networks::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #000;
  z-index: -1;
}

.s-networks a {
  color: #000;
  margin-right: 40px;
}

@media (max-height: 767px) and (orientation: landscape) {
  .s-networks {
    width: auto;
    left: 0;
    bottom: 32px;
  }
}

@media (orientation: portrait) {
  .s-networks {
    left: 2px;
  }
}
