@import url("https://fonts.googleapis.com/css?family=EB+Garamond:400,600,600i&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #000;
  font-size: 18px;
  font-family: "EB Garamond", serif;
  line-height: 24px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

::selection {
  background-color: #f6efef;
}

h1 {
  color: #f6efef;
}

a {
  border-bottom: 1px solid;
  color: rgba(0, 0, 0, 0.4);
  text-decoration: none;
  transition: 150ms linear;
}

a:hover,
a:focus {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}

a:focus,
.slider-control:focus {
  outline: none;
}

a:focus:not(:hover),
.slider-control:focus:not(:hover) {
  outline: 2px solid currentColor;
  outline-offset: 2px;
  border-color: transparent;
}

a:active {
  color: rgba(0, 0, 0, 0.4);
  text-decoration: none;
}

a.disabled {
  border-bottom: none;
  text-decoration: line-through;
  pointer-events: none;
}

a.arrow-link {
  border-bottom: none;
  transform-origin: left center;
  transition: 150ms linear;
}

a.arrow-link:hover {
  transform: scale(1.2, 1);
}

/*Animation*/

.fade-enter {
  opacity: 0;
}

.fade-exit {
  opacity: 1;
}

.fade-enter-active {
  height: 0;
  opacity: 1;
  transition: 250ms linear 150ms;
}

.fade-exit-active {
  opacity: 0;
  transition: 250ms linear;
}

@media (max-width: 767px), (max-height: 767px) {
  body {
    font-size: 16px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
