footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 5;
  padding: 0 40px 60px;
}

.footer-navigation {
  margin-top: -25px;
}

.all-catalog {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 160px 60px 132px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
