footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 5;
  padding: 0 60px 40px;
}

.footer-navigation {
  margin-top: -25px;
}

@media (orientation: portrait) {
  footer {
    padding: 0 16px 16px;
  }
}
